
@import url("./style.css");

@import url("./index.css");

@import url("./delivery.css");

@import url("./order.css");

@import url("./profile.css");

@import url("./pay.css");

@import url("./login.css");
