@import url("./delivery.css");
@import url("./index.css");
@import url("./login.css");
@import url("./order.css");
@import url("./pages.css");   
@import url("./profile.css");
@import url("./style.css");