.navbar-collapse-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Логог хэвийн хэмжээнд барих */
.navbar-brand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.offcanvas-body{
    display: flex;
}
.navbar-brand img {
    width: auto; /* Зургийн хэмжээг тохируулах */
    height: auto;
}

/* Навигацийн цэсийг нэг мөрөнд байрлуулах */
.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    list-style: none;
}

@media (max-width: 991px) {
    .navbar-collapse-wrapper {
        flex-direction: column;
    }

    .navbar-collapse {
        width: 100%;
        justify-content: center;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
}

.fs-16{
    text-align: center;
    font-size: medium;
}
.display-1 {
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    display: block;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1;
    white-space: pre-line;
    color: #2f3542;
  }
  .d-flex:nth-child(3){
    text-align: center;
    margin: 10px;
    padding: 20px;
    color: white;
  }
  .d-flex span:first-child{
    padding: 20px;
    border-radius: 30px;
    background-color: #2f3542;
    color: white !important;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.d-flex span:last-child{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #2f3542;
    border-radius: 30px;
    color: #2f3542;
    margin-left: 10px;
}
*{
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.a{
    color: white;
}
.btn-primary{
    color: white;
}
.btn-outline-primary{
    color: #2f3542;
}
.navbar-brand img{
    width: 10%;
    
}
.position-absolute{
    position: relative;
}
.container{
    box-sizing: border-box;
}
.d-flex span:first-child{
    padding: 20px;
    border-radius: 30px;
    background-color: #2f3542;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.d-flex > span:last-child{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #2f3542;
    border-radius: 30px;
    color: #2f3542;
    margin-left: 10px;
}
*{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.gx-md-8:nth-child(2){
    float: right;
    display: flex;
}
.link-purple{
    color: blueviolet;
}
.link-green{
    color: aquamarine;
}
.link-orange{
    color: orange;
}
